
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #2980b9, #fff);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 2px 4px #e67e22(0, 0, 0, 0.1);
    color: rgb(63, 60, 65);
  }
  
.navimagewithname {
    display: flex;
    flex-direction: row;
}

  .heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-style: oblique;
    text-align: center;
  }
 
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin:  10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    background-color: #e67e22;
    color: #fff;
    border-radius: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: row;
      justify-self: space-between;
      
    }
  
    nav ul {
      flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    padding: none;
   
    }
  
    nav li {
      margin: 10px 0;
    }
  
    nav a {
      font-size: 1rem;
      padding: 5px;
    }
    
    nav a:hover {
      background-color: #e67e22;
      color: #fff;
      border-radius: 20px;
    }
  }
  
  .footer-logo {
    height: 50px;
    border-radius: 50px;
  }